# Data Science Tools and Ecosystem

## Author
Noelle Van der Tuin

This notebook summarizes information from the Tools for Data Science course. It summarizes information about data science tools, languages, and ecosystems.

**Objectives:**
- Set up a Jupyter notebook.
- List data science languages.
- List data science libraries.
- Create tables and use various types of formatting in Markup.
- Perform simple mathematical functions in J

Here are some popular languages for data science:
1. Python
2. R
3. SQL
4. Scala
5. Java

The following are libraries used in data science.
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikitlearn
6. Keras

| Data Science Tools |
| --- |
| Jupyter Lab |
| Jupyter Notebook |
| Apache Zeppelin |
| R Studio |
| Spyder |

### The following are examples of arithmetic expressions in Python.

In [2]:
# This is an example of simple arithmetic to multiply and then add integers.
(3*4)+5

17

In [3]:
# This will convernt 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335